{{>partial_header}}
package {{packageName}}

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"strings"
)

type Client interface {
	SendRequest(ctx context.Context, method, relativeUrl string, hasBody bool, body interface{}, hasReturnValue bool, returnValue interface{}) error
}
